<h1>Shares</h1>

<h2>Add Share</h2>
<!-- // ADD a share vm.addShare(); -->
<form ng-submit="vm.addShare()">
  <label>url
    <input ng-model="vm.newShare.url">
  </label><br>
  <label>description
    <input ng-model="vm.newShare.description">
  </label>
</form>
<form ng-submit="vm.newShare.addTag('')">
  <label>tags
    <input ng-model="vm.newShare.tags[0]">
  </label>
  <button type="submit">+</button>
</form>
<div>
    <span ng-if="$index !== 0" ng-repeat="item in vm.newShare.tags track by $index" ng-click="vm.newShare.addTag(item)">
      {{ item }}
      <button ng-click="vm.newShare.removeTag($index, $event)">X</button>
    </span>
</div>
<button ng-click="vm.addShare()">add</button><br>

<!-- // Show a share vm.shares -->
<h4>Shares</h4>
<ul>
  <li ng-repeat="share in vm.shares" ng-click="vm.newShare = share">
    <p>url: {{share.url}} desc: {{share.description}}</p>
    <ul>
      <li ng-repeat="item in share.tags track by $index">{{ item }}</li>
    </ul>
  </li>
</ul>
