<h1>Shares</h1>

<!-- // ADD a share vm.addShare(); -->
<div class="add-share" ng-show="vm.currentUser.user.userId">
  <h2>Add Share</h2>
  <form ng-submit="vm.addShare()">
    <label>url
      <input ng-model="vm.newShare.url">
    </label><br>
    <label>description
      <input ng-model="vm.newShare.description">
    </label>
  </form>
  <form ng-submit="vm.newShare.addTag('')">
    <label>tags
      <input ng-model="vm.newShare.tags[0]">
    </label>
    <button type="submit">+</button>
  </form>
  <div>
    <span ng-if="$index !== 0" ng-repeat="item in vm.newShare.tags track by $index" ng-click="vm.newShare.addTag(item)">
      {{ item }}
      <button ng-click="vm.newShare.removeTag($index)">X</button>
    </span>
  </div>
  <button ng-click="vm.addShare()">add</button><br>
</div>

<!-- // Show a share vm.shares -->
<h4>Shares</h4>
<ul>
  <li ng-repeat="share in vm.shares">
    <p>url: {{share.url}} desc: {{share.description}}</p>
    <span>tags:</span>
    <span ng-repeat="item in share.tags track by $index">{{ item }}  </span><br>
    <button title="upvote" ng-click="vm.vote($index, share, 1)">&uarr;</button>{{share.upvotes}}
    <button title="downvote" ng-click="vm.vote($index, share, -1)">&darr;</button>{{share.downvotes}}
    <button title="clear vote" ng-click="vm.vote($index, share, 0)">clear votes</button>
    <span>Comments</span>
    <button ng-click="vm.toggleComments(share)">Show Comments</button>
    <ul ng-show="share.showComments">
      <li ng-repeat="comment in share.comments | orderBy: 'created'">
        <p>{{ comment.text }} Created by: <span>{{ comment.userId }} {{ comment.created | date:"MM/dd/yyyy 'at' h:mma" }}</span></p>
      </li>
      <li>
        <form ng-submit="vm.addComment(share)">
          <label>Add Comment
            <textarea ng-model="share.newComment" name="text"></textarea>
          </label>
          <button>Add</button>
        </form>
      </li>
    </ul>
  </li>
</ul>
