<h1>Users</h1>

<ul class="users-list">
  <li class="user-item" ng-repeat="user in vm.users | orderBy:'userId'">
    <a href="#/users/{{user.userId}}">{{user.userId}}</a>
  </li>
</ul>

<form class="add-user" ng-submit="vm.addUser()">
  <h2>Add User</h2>
  <input ng-model="vm.newUser.userId" placeholder="GitHub username">
  <select class="select-role" ng-model="vm.newUser.role">
    <option value="admin">
      Admin
    </option>
    <option value="user">
      User
    </option>
  </select>
  <button class="add-user-btn">Add</button>
</form>
