$darkestblue: #666871;
$darkblue: #6A738D;
$darkgold: #594A2F;
$gold: #7D6E43;
$brown: #3D3122;
$dull: #F2F3F0;


$bg-color: #FFF;
$alt-bg-color: $dull;

$bold-color: $gold;
$alt-bold-color: $darkgold;

$accent-color: $darkblue;
$accent-color-dark: $darkestblue;
$alt-accent-color: $dull;
$alt-accent-color-dark: $brown;
