$darkestblue: #666871;
$darkblue: #6A738D;
$darkgold: #594A2F;
$gold: #7D6E43;
$brown: #3D3122;
$dull: #F2F3F0;

$bg-color: $gold;
$alt-bg-color: $gold;

$bold-color: $gold;
$alt-bold-color: $gold;

$accent-color: $gold;
$accent-color-dark: $gold;
$alt-accent-color: $darkestblue;
$alt-accent-color-dark: $gold;
