$mobile: new-breakpoint(max-width 700px 4);

main {
  @include outer-container();
}

.root-content {
  padding: 2em;
}

.toolbar {
  background: #F4F4F4;
  padding: 1em;
  margin-bottom: 1.5em;
}

.main-nav {
  background: $accent-color-dark;
  color: #FFF;
  // padding: 0 2em 0 0;
  font-family: $primary-font;
  height: 4.5em;

  &:after {
    content: '';
    background-color: $accent-color;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 25%;
    z-index: -1;

    @include media($mobile) {
      visibility: hidden;
    }
  }
}

.app-icon {
  color: inherit;
}

.app-icon:before {
  content: 'b';
  font-family: 'fontastic';
  display: inline-block;
  font-size: 2.5em;
  padding-right: 0.5rem;
  vertical-align: middle;
  transform: rotate(-10deg);
}

.main-nav-link {
  height: 4.5em;
  display: inline-block;
  padding: 1.5em;
  color: inherit;

  @include media($mobile) {
    display: none;
  }
}

.main-nav-link:hover {
  background: $dull;
  color: $accent-color-dark;
}

.main-nav-link.active {
  background: $accent-color;
  color: inherit;
}

li.ng-scope {
  background-color: $dull;
  // padding: 1em;
}
