<nav class="main-nav" ng-controller="MainNavCtrl as vm">
  <a class="main-nav-link" ng-class="{active: vm.isActive('/shares') || vm.isActive('/')}" href="#/shares">Shares</a>
  <a class="main-nav-link" ng-class="{active: vm.isActive('/users')}" ng-href="#/users">Users</a>
  <a class="main-nav-link" ng-if="!vm.currentUser.user" href="/auth/github">Login</a>
  <a class="main-nav-link" ng-if="vm.currentUser.user" href="/logout">Logout</a>
  <div class="main-nav-user">
    <a class="main-nav-link" ng-href="/#/users/{{vm.currentUser.userId}}">{{vm.currentUser.github.name}}</a>
    <a ng-href="/#/users/{{vm.currentUser.userId}}">
      <img class="main-nav-link" ng-if="vm.currentUser.github" ng-src="{{ vm.currentUser.github.avatar_url }}">
    </a>
  </div>
</nav>
