<nav class="main-nav" ng-controller="MainNavCtrl as vm">
  <div class="logo-section">
    <a class="logo" href="#/shares">R|S <span class="logo-text">ReShare</span></a>
  </div>
  <div class="main-nav-user">
    <a class="main-nav-link" ng-class="{active: vm.isActive('/shares') || vm.isActive('/')}" href="#/shares">Shares</a
    ><a class="main-nav-link" ng-class="{active: vm.isActive('/users')}" ng-href="#/users">Users</a
    ><a class="main-nav-link" ng-if="vm.currentUser.user" href="/logout">Logout</a
    ><a class="main-nav-link" ng-if="vm.currentUser.user" ng-href="/#/users/{{vm.currentUser.userId}}">{{vm.currentUser.github.name}}</a
    ><a ng-if="vm.currentUser.user" ng-href="/#/users/{{vm.currentUser.userId}}"
      ><img class="main-nav-link" ng-if="vm.currentUser.github" ng-src="{{ vm.currentUser.github.avatar_url }}"
    ></a>
    <a class="main-nav-link" ng-if="!vm.currentUser.user" href="/auth/github">Login</a>
    <span class="menu-icon"></span>
    <a class="add-share-link" ng-if="vm.currentUser.user" href="/#/shares/#add-share">Add share</a>
  </div>
</nav>
